@model IEnumerable<Product>


@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
    <h3>Carrello</h3>
    <div class="table-responsive table-responsive-sm">
        <table class="table">
            <thead>
                <tr>

                    <th class="col">Id</th>
                    <th class="col">Nome</th>
                    <th class="col">Descrizione</th>
                    <th class="col">Prezzo</th>
                    <th class="col">Quantitá</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>

                        <td class="">@Html.DisplayFor(modelItem => product.Id)</td>
                        <td class="tar">@Html.DisplayFor(modelItem => product.Name)</td>
                        <td class="tac">@Html.DisplayFor(modelItem => product.Description)</td>
                        <td class="tar">@Html.DisplayFor(modelItem => product.Price)</td>
                        <td><input type="number" min="1" value="1" id="Quantity-@product.Id"/></td>
                        <td align="center" class="add-to-cart"><button data-product-id="@product.Id">Aggiungi al Carrello</button></td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
    <section class="cart-coupon tar">
        <span class="cart-total-label">Inserisci codice coupon:</span>
        <input id="coupon" type="text" name="coupon-code" />
        <button id="coupon-button">Applica coupon</button>
    </section>
    <section class="tar">

        <div class="btn-group">
            <form class="btn-form" asp-controller="Cart" asp-action="Index" method="get">
                <button type="submit" class="btn btn-primary">Carrello</button>
            </form>
            <form id='user-proceed' class="btn-form" asp-controller="Home" asp-action="User_info" method="get">
                <button type="submit" class="btn btn-primary">Procedi</button>
            </form>
        </div>
    </section>

</div>